section#services {
    height: inherit;
    display: block;
    margin-top: 3rem;
 
    .cards__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card__content {
        padding: 1rem 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
    }

    .card__item {
        max-width: 300px;
        min-height: 300px;
        margin-top: 20px;
        padding-bottom: 1rem;
        background: #ffffff;
        border: 1px solid grey;
        box-sizing: border-box;
        .photo {
            width: 100%;
            height: 250px; // margin: -100rem;
            overflow: hidden;
        }
    }
}

@include for-desktop {
    section#services {
        margin-top: 0;

        .cards__list {
            flex-direction: unset;
            align-items: unset;
            justify-content: space-between;
        }

        .cards__list  {
            > div {
                width: calc(100% / 3 );
            }
        }
    }
}