@import url('https://fonts.googleapis.com/css?family=Lora:400,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
body {
  margin: 0;
  padding: 0;
}






.content__info {
  font-family: 'Lora', serif;
}

.content__image {
  // width: 400px;
  height: 100vh;
  .product__img-bg {
    background-image: url('https://images.unsplash.com/photo-1560781290-7dc94c0f8f4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-position: center center;
    background-size: cover;
    height: 100%;
  }
}

section#services {
  // background: #f7f9fb;
}




@import './styles/_mixins';

@import './styles/_nav';
@import './styles/_layout';
@import './styles/_banner';
@import './styles/_services';
@import './styles/_about';
@import './styles/_contact-us';
@import './styles/_base';
